@font-face{
    font-family: europa-bold;
    src: url(../fonts/europa-bold.ttf);
}

@font-face{
    font-family: europa-reg;
    src: url(../fonts/europa-reg.ttf)
}

@font-face{
    font-family: europa-light;
    src: url(../fonts/europa-light.ttf)
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 100%;
    outline: 0;
    vertical-align: baseline;
}

:root{
    --blue-4: #00233F;
    --blue-3: #045699;
    --blue-2: #3783DC;
    --blue-1: #82B8F9;
    --orange-2: #EF9300;
    --orange-1: #FFAC1A;
    --off-white: #F0F3F9;
    --off-black: #2F2F2F;
    --input-gray: #8E8E8E;
    --bg-white: rgb(245, 245, 245);
}

html, body{
    font-family: europa-reg;
    height: 110%;
    letter-spacing: 0.08em;
}

h1,  {
    font-family: europa-bold, sans-serif;
    color: var(--off-black);
}

p{
    font-family: europa-light, sans-serif;
    color: var(--off-white);
    font-size: .5vw;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h2{
    font-family: europa-reg, sans-serif;
    /* color: var(--off-white); */
    font-size: 2vw;
    letter-spacing: 2px;
}

#blue{
    color: var(--blue-3);
}

#white{
    color: var(--off-white);
}

#black{
    color: var(--off-black);
}

#orange{
    color: var(--orange-2)
}

#gray{
    color: var(--input-gray);
}



h3{
    font-family: europa-light, sans-serif;
    color: var(--off-white);
    font-size: 1vw;
    letter-spacing: 1px;
    line-height: 150%;
}

#sub-button{
    font-family: europa-reg, sans-serif;
    color: var(--off-white);
    letter-spacing: 1px;
    
}

input::placeholder{
    font-family: europa-light, sans-serif;
    color: var(--input-gray);
    font-size: 1.2vw;
}

h4{
    font-family: europa-light, sans-serif;
    color: var(--off-white);
    text-align: center;
    font-size: 1.5vw;
}

h1{
    font-size: 3.5vw;
    text-align: center;
}


nav a:visited {color: var(--off-black)}

footer a:visited{color: var(--off-white)}



/*nav*/
nav{
    font-family: europa-reg, sans-serif;
    margin: auto;
    padding-top: 2%;
    line-height: 50px;
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
}

.nav-icon{
    width: 3vw;
    height: auto;
    display: inline;
}


nav a:link{
    text-decoration: none;
    color: var(--off-black);
    font-size: 1.3vw;
    letter-spacing: .1em;
}

footer a:link{
    text-decoration: none;
    color: var(--off-white);
    font-size: 1.3vw;
    letter-spacing: .1em;
}

footer h3{
        font-family: europa-light, sans-serif;
        color: var(--off-white);
        font-size: 1.5vw;
        letter-spacing: 1px;
}

footer h2{
    font-family: europa-reg, sans-serif;
    color: var(--off-white);
    font-size: 1.5vw;
    letter-spacing: 2px;
}


/*content*/

.content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*spotted background*/

.hero-bg{
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(5, 20%);
    height: 100%;
    width: 90vw;
    margin: auto;
    position: absolute;
}

.oc, .bc{
    width: 1.5vw;
    height: auto;
    opacity: 0.9
}

.a{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 30%;
    margin-left: 10%;
}
.b{
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 10%;
    margin-left: 25%;
}
.c{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: -60%;
    margin-left: -69%;
}
.d{
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: -30%;
    margin-left: 75%;
}
.e{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    margin-top: -5%;
    margin-left: -30%;
}
.f{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 5;
    margin-top: -75%;
}
.g{
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 6;
    margin-top: 130%;
    margin-left: 120%;
}
.h{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: 15%;
    margin-top: 5%;
}
.i{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    margin-top: 90%;
    margin-left: -35%;
}
.j{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
    margin-top: 120%;
    margin-left: 80%;
}
.k{
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 5;
    margin-top: 20%;
    margin-left: 140%;
}

/* hero */

.hero{
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(5, 20%);
    height: 80%;
    width: 80%;
    margin: auto;
    white-space: nowrap;
    position: relative;
}

#header{
    text-align: left;
    margin-bottom: 30%;
}

.messageBody{
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: -15%;
}

.hero-image{
    width: 25%;
    grid-column-start: 7;
    grid-column-end: 11;

}

#skew-mock{
    width: 50vw;
    height: auto;
    z-index: -1;
    position: absolute;
    left: 35%;
    top: 10%;
}

#crane{
    width: 25vw;
    z-index: 1;
    position: absolute;
    right: -1%;
    top: 5%;
    height: auto;
}

/*mission*/

.mission-section{
    padding-top: 15%;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15%;
}

.mission-left{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

#steps{
    width: 120%;
}

.mission-right{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

.vert-bar{
    width: .3vw;
    height: 5vw;
    background: linear-gradient(to bottom, #3783DC, var(--blue-3));
    margin-right: 5%;
}

.team-bg{
    background-color: var(--blue-4);
}

.bar-light{
    margin: 3vw auto;
    width: 30%;
    height: .3vw;
    background: linear-gradient(to right, #3783DC, #F0F3F9);
}


.team-wrapper, .advisor-wrapper{
    padding-top: 5%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.team-wrapper img{
    width: 15vw;
    height: auto;
}

.minions{
    display:flex;
    justify-content: space-between;
}

.not-minions{
    padding-top: 5%;
    display:flex;
    justify-content: space-evenly;
    padding-bottom: 10%;
}

#name, .name{
    padding-bottom: 3%;
}

.advisor-wrapper{
    position: relative;
    padding-bottom: 5%;
}

.bar-dark{
    margin: 3vw auto;
    width: 30%;
    height: .3vw;
    background: linear-gradient(to right, #3783DC, var(--blue-4));
}

.advisor-names{
    display:flex;
    justify-content: space-between;
    padding-top: 3%;
}

.jim, .matt, .geoff{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.circle{
    margin-top: 8%;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    border: 10px solid rgba(255, 235, 199, 0.8);
    background: rgb(255, 172, 26);
}

/*footer*/
footer{
    margin-top: 5%;
    position: absolute;
    z-index: 1;
    left: 0;
    width: 100%;
    text-align: center;
    height: 90px;
}

.foot-wrapper{
    /* background-color: var(--blue-3); */
    /* border-top-left-radius: 50% 20%; */
    /* border-top-right-radius: 50% 20%; */
    background-image: url(../images/footer.svg);
    background-position: top center;
    width: 100%;
    z-index: -1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo{
    margin-top: 1%;
    margin-bottom: 3%;
}

.foot-icon{
    width: 35%;
    height: auto;
    margin-bottom: 2%
}

.contact-us{
    margin-top: 1%;
    margin-bottom: 3%;
}

#cont-button{
    margin-top: 3%;

    background-color: var(--orange-1);
    line-height: 2.5vw;
    font-family: europa-reg, sans-serif;
    color: var(--off-white);
    font-size: 1.5vw;
    padding: 0 4%;
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgba(119, 73, 21, 0.6)
}

.footer-links{
    margin: 2% 0;
    width: 70%;
    display: flex;
    justify-content: space-between; 
}


