@font-face{
    font-family: europa-bold;
    src: url(../fonts/europa-bold.ttf);
}

@font-face{
    font-family: europa-reg;
    src: url(../fonts/europa-reg.ttf)
}

@font-face{
    font-family: europa-light;
    src: url(../fonts/europa-light.ttf)
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 100%;
    outline: 0;
    vertical-align: baseline;
}

:root{
    --blue-4: #00233F;
    --blue-3: #045699;
    --blue-2: #3783DC;
    --blue-1: #82B8F9;
    --orange-2: #EF9300;
    --orange-1: #FFAC1A;
    --off-white: #F0F3F9;
    --off-black: #2F2F2F;
    --input-gray: #8E8E8E;
    --bg-white: rgb(245, 245, 245);
}

html, body{
    font-family: europa-reg;
    height: 110%;
    letter-spacing: 0.08em;
}

h1, .footer-links {
    font-family: europa-bold, sans-serif;
    color: var(--off-white);
}

p{
    font-family: europa-light, sans-serif;
    color: var(--off-white);
    font-size: .5vw;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h2{
    font-family: europa-reg, sans-serif;
    /* color: var(--off-white); */
    font-size: 2vw;
    letter-spacing: 2px;
}

#blue{
    color: var(--blue-3);
}

#white{
    color: var(--off-white);
}

#black{
    color: var(--off-black);
}

#orange{
    color: var(--orange-2);
}

#gray{
    color: var(--off-white);
}


h3{
    font-family: europa-light, sans-serif;
    color: var(--off-white);
    font-size: 1vw;
    letter-spacing: 1px;
    line-height: 150%;
}

#sub-button{
    font-family: europa-reg, sans-serif;
    color: var(--off-white);
    letter-spacing: 1px;
    
}

input::placeholder{
    font-family: europa-light, sans-serif;
    color: var(--input-gray);
    font-size: 1.2vw;
}

h4{
    font-family: europa-light, sans-serif;
    color: var(--off-white);
    text-align: center;
    font-size: 1.5vw;
}

h1{
    font-size: 3.5vw;
    text-align: center;
}

a:visited {color: var(--off-white)}

/*nav*/
.bg-nav{
    background-color: var(--blue-4);
 
}
nav{
    font-family: europa-reg, sans-serif;
    margin: auto;
    padding-top: 2%;
    line-height: 50px;
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
}

.nav-icon{
    width: 3vw;
    height: auto;
    display: inline;
}


nav a:link, footer a:link{
    text-decoration: none;
    color: var(--off-white);
    font-size: 1.3vw;
    letter-spacing: .1em;
}

footer h3{
        font-family: europa-light, sans-serif;
        color: var(--off-white);
        font-size: 1.5vw;
        letter-spacing: 1px;
}

footer h2{
    font-family: europa-reg, sans-serif;
    color: var(--off-white);
    font-size: 1.5vw;
    letter-spacing: 2px;
}


/*content*/

.bg-1{
    background-image: linear-gradient(var(--blue-4), var(--blue-4), var(--blue-4), var(--blue-3), var(--blue-2));
    min-width: 90%;
}
.content-wrapper{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#in-dev, #hero-header, #hero-subtext{
    text-align: center;
    z-index: 2;
}

#in-dev p{
    margin-top: 3%;
    margin-bottom: 2%;
}

.top-border{
    text-align: center;
}

.border-this{
    padding: .5%;
    border: 1px solid #195DA2;
    border-radius: 10px; 
}

#hero-header{
    margin-bottom: 2%;
}

#hero-image{
    position: relative;
    bottom: 11vw;
    z-index: 1;
}
#hero-buildings{
    width: 120%;
    position: relative;
    right: 10%;
}

.what-is-exalton{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper-1{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    position: relative;
    bottom: 10vw;
}

.text-wrapper{
    position: relative;
    top: 8vw;
}


#control{
    width: 35%;
}

.bar{
    margin: 3vw 0;
    width: 60%;
    height: .3vw;
    background: linear-gradient(to right, #3783DC, #F0F3F9);
}

.bar:before{
    content:"";
    display: block;
    padding-top: 25%;
    align-content: center;
}

#learn-more{
    margin-top: 5%;
    display: flex;
    padding: 5px;
    align-items: stretch;
    position: relative;
}

#learn-more #text-link{
font-family: europa-light, sans-serif;
    color: var(--orange-1);
    text-decoration: none;
    font-size: 1vw;
    letter-spacing: 1px;
    line-height: 150%;
    position: absolute;
    display: inline-block;
}

#more-arrow{
    /* margin-top: .5vw; */
    position: absolute;
    left: 18%;
    width: 4%;
    display: inline-block;
}

.pillars{
    margin-top: -5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-bottom: 15%;
}

.pillars img{
    width: 50%;
}

.pillars h2{
    margin-top: 5%;
    margin-bottom: 3%;
}

.problem{
    background-color: var(--bg-white);
    display: flex;
    justify-content: space-between;
    height: 80%;
}

.problem-wrapper{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.bar2{
    margin: 3vw 0;
    width: 40%;
    height: .3vw;
    background: linear-gradient(to right, #3783DC, var(--blue-3));
}

.bar2:before{
    content:"";
    display: block;
    padding-top: 10%;
    align-content: center;
}

.problem-mock{
    /* position: relative; */
}
#laptop-mock{
    position: absolute;
    width: 40%;
    right: 0;
    padding-top: 5%;
}

.use-cases{
    background-color: var(--blue-4);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header{
    padding-top: 5%;
}

.bar3{
    margin-top: 3vw;
    margin-bottom: 3vw;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: .3vw;
    background: linear-gradient(to right, #3783DC,#F0F3F9);
}


.use-wrapper{
    width: 80%;
    margin: auto;
}

.use-wrapper h2{
    margin-bottom: 5%;
}
#use-icon{
    width: 20%;
    
}

.use-content{
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 30%;
}

.life-sci, .healthcare, .rnd, .legal{
    background-color: var(--off-white);
    text-align: left;
    display: flex;
    box-shadow: 5px 5px 30px rgba(108, 134, 153, 0.5);
    border-radius: 1vw;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 5%;
    padding: 10% 5%;
    position: relative;
}

.connect{
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#big-logo{
    width: 20%;
    padding-bottom: 5%;
}

.connect h2{
    font-size: 3vw;
    padding-bottom: 1%;
}

.connect h3{
    font-family: europa-reg, sans-serif;
    font-size: 1.5vw;
    padding-bottom: 3%;
}

.form-container{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .connect form{
     /* margin-top: -2%; */
    display: grid;
    align-items: center;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;

}


.connect #email-field{
    grid-column-start: 1;
    grid-column-end: 5;
    padding: 15px 0 15px 18px;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    border-radius: 8px;
    box-shadow: 5px 5px 30px rgba(21, 53, 77, 0.3);
    border: none;
}

.connect #sub-button{
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: var(--blue-1);
    font-size: 1vw;
    text-transform: uppercase;
    margin-top: -50px;
    margin-right: 2%;
    border-radius: 5px;
    line-height: 4.5vh;
    box-shadow: 5px 5px 30px rgba(34, 116, 179, 0.6)
}





/*footer*/

footer{
    margin-top: 5%;
    position: absolute;
    z-index: 1;
    left: 0;
    width: 100%;
    text-align: center;
    height: 90px;
}

.foot-wrapper{
    /* background-color: var(--blue-3); */
    /* border-top-left-radius: 50% 20%; */
    /* border-top-right-radius: 50% 20%; */
    background-image: url(../images/footer.svg);
    background-position: top center;
    width: 100%;
    z-index: -1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo{
    margin-top: 1%;
    margin-bottom: 3%;
}

.foot-icon{
    width: 35%;
    height: auto;
    margin-bottom: 2%
}

.contact-us{
    margin-top: 1%;
    margin-bottom: 3%;
}

#cont-button{
    margin-top: 3%;

    background-color: var(--orange-1);
    line-height: 2.5vw;
    font-family: europa-reg, sans-serif;
    color: var(--off-white);
    font-size: 1.5vw;
    padding: 0 4%;
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgba(119, 73, 21, 0.6)
}

.footer-links{
    margin: 2% 0;
    width: 70%;
    display: flex;
    justify-content: space-between; 
}




.input {
	position: relative;
	display: flex;
	width: 600px;
   margin: 0 10px;

}
.input-container {
		position: relative;
		display: flex;
		width: 100%;
      margin: 10px;
}
		.input-field {
			padding: 24px;
			background-color: rgb(255, 255, 255);
            border: solid #f8f8f8;
            border-width: 1.5px;
			width: 100%;
			color: #b7bcdd;
			outline: none;
			z-index: 0;
         -webkit-tap-highlight-color: transparent;
            line-height: 1;
        }

			.input-field::-webkit-input-placeholder {
				color: #b7bcdd;
				line-height: 1;
				padding-top: 2px;
			}

            .input-field:hover + .input-field-shadow {
                box-shadow: 0px 2px 10px #d8ddec;
            }

            .input-field:focus + .input-field-shadow {
                box-shadow: 0px 8px 14px #d8ddec;
                height: 50%;
                width: 97%;
                left: 2%;
            }
		

		.input-field-shadow {
			position: absolute;
			display: flex;
			width: 99%;
			height: 95%;
			bottom: 0;
			left: 1%;
			z-index: -10;
			box-shadow: 0px 0px 5px #d8ddec;
			border-radius: 2px;
         transition: all ease 240ms;
		}
	

	.submit-container {
		position: absolute;
		z-index: 0;
		margin: 10px;
		right: -10px;
		top: calc(25% - 11px);
		opacity: 0;
		transition: all ease 240ms;
    }
		.submit-btn {
			border: none;
			border-radius: 2px;
			/* background-color: lighten(rgba(125, 141, 243, 1), 5%); */
			padding: 12px 20px;
			color: white;
			text-transform: uppercase;
			-webkit-appearance: none;
			transition: all ease 240ms;
			cursor: pointer;
            background-color: var(--blue-2);
        }

        .submit-btn:hover{
            background-color: var(--blue-3);
        }
		

		.submit-btn-shadow {
			position: absolute;
			display: flex;
			width: 90%;
			height: 50%;
			bottom: 0;
			left: 5%;
			z-index: -5;
			box-shadow: 0px 2px 10px #a3aadb;
			border-radius: 2px;
        }
        


        /* Contact Modal */

        .contact-form{
            background-color: var(--blue-2);
            width: 60%;
            height: auto;
            border-radius: 10px;;
            box-shadow: 5px 5px 30px rgba(21, 53, 77, 0.3);
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            position: absolute;
            z-index: 3;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            display: none;
        }
        
        #close-icon{
            width: 2vw;
            height: 2vw;
        }

        #contact-close{
            background-color: red;
            width: 2vw;
            height: 2vw;
            border-radius: .2vw;
            position: absolute;
            right: 0;
            top: 0;
            margin-top: 1vw;
            margin-right: 1vw;
        }
        .contact-form h1{
            padding-top: 5%;
        }

        .contact-form h2{
            text-align: center;
            margin-bottom: 4%;
        }
        
        form{
            width: 60%;
            margin: auto;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-bottom: 5%;
        }
        
        form input{
            box-shadow: 5px 5px 30px rgba(21, 53, 77, 0.568);
        }
        .name, .org{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        
        #half{
            width: 45%;
            border-radius: 5px;
            padding: 2%;
            margin-bottom: 5%;
        }
        
        #full{
            width: 95%;
            border-radius: 5px;
            padding: 2%;
            margin-bottom: 5%;
        }
        
        #large{
            width: 95%;
            height: 100%;
            padding: 2%;
            border-radius: 5px;
            padding-bottom: 30%;
            margin-bottom: 5%;
        }
        
        .btn{
            align-self: flex-end;
            color: var(--off-white);
            font-family: europa-bold;
            font-size: 1.5em;
            letter-spacing: 1px;
            background-color: var(--orange-1);
            padding: 1% 6%;
            border-radius: 10px;
            box-shadow: 5px 5px 30px rgba(35, 67, 116, 0.466); 
        }
	



